extends layout

block content
  h1 Jugadores de LOL
  table
    thead
      tr
        th _id
        th Nickname
        th Campeon Fav
        th Fecha de ingreso 
    tbody

      td 
        tr 1
        tr hola
        tr ninguno
        tr 7498