extends layout

block content
  h1 Jugadores de LOL
  table
    thead
      tr
        th(scope ="col") _id
        th(scope ="col") Nickname
        th(scope ="col") Campeon Fav
        th(scope ="col") Fecha de ingreso 
    tbody

      td 
        th(scope = "row") 1
        tr(scope = "row") hola
        tr(scope = "row") ninguno
        tr(scope = "row") 7498


